<h1>Contacts#new</h1>

<%= form_with (model: @contact, local: true) do |form| %>
  <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :name %>
    <%= form.text_field :name %><br>
    <%= form.label :email %>
    <%= form.text_field :email %><br>
    <%= form.label :content %>
    <%= form.text_field :content %><br>
    <%= form.submit "send" %>
<% end %>
